@import "tailwindcss";

@theme {
  --color-brand-dark: #030a16;
  --color-brand-navy: #071328;
  --color-brand-green: #39b54a;
  --color-brand-cyan: #00aeef;
  --color-brand-gray: #94a3b8;
}

body {
  background-color: #030a16;
  color: #ffffff;
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
}

/* انیمیشن برای پالس و چرخش المان‌های شبکه */
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}
